[Unit]
Description=Zlorbrs Daemon
After=network.target

[Service]
ExecStart=zlorbrs-service
Type=simple
Restart=always
Environment="RUST_LOG=zlorbrs_service"


[Install]
WantedBy=default.target
