[Unit]
Description=Zlorbrs Daemon
After=network.target

[Service]
ExecStart=zlorbrs-service
Type=simple
Restart=always


[Install]
WantedBy=default.target
